[DISPLAY]
contrast = <contrastvalue>
controller = <controllervalue>
refresh = 2

[MPD]
host = localhost
port = 6600

[LEDS]
# turn on LEDs. remove keys to disable
volume_down = 23
volume_up = 24
previous = 5
next = 22
playpause = 6

